html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans SC", -apple-system, BlinkMacSystemFont,
    "San Francisco", "Helvetica Neue", "Noto Sans", "Noto Sans CJK SC",
    "Noto Sans CJK", "Source Han Sans", "PingFang SC", "Segoe UI",
    "Microsoft YaHei", sans-serif;
}

@media print {
    .non-printable { display: none !important; }
}
